In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("apartment_data.csv")

In [6]:
data.head()

  TOWER  FLOOR  APARTMENT NO.  AREA FACING CORNER   TYPE
0     A      1            101  1938   East     NO  3 BHK
1     A      1            102  2751   West    YES  4 BHK
2     A      1            103  2751   West    YES  4 BHK
3     A      1            104  1733  North     NO  3 BHK
4     A      1            105  1733  North     NO  3 BHK

In [12]:
data['TYPE'].unique()

array(['3 BHK', '4 BHK'], dtype=object)

In [1]:
from handlers.data_processor import DataProcessor

In [2]:
file_path = 'apartment_data.csv' 
try:
    processed_data = DataProcessor.validate_and_transform(file_path)
    print("Processed Data:")
    print(processed_data.head())  # Display the first few rows
except ValueError as e:
    print(f"Error during processing: {e}")

Processed Data:
  TOWER  FLOOR  APARTMENT NO.  AREA FACING CORNER   TYPE  APARTMENT No.  \
0     A      1            101  1938   EAST     NO  3 BHK            101
1     A      1            102  2751   WEST    YES  4 BHK            102
2     A      1            103  2751   WEST    YES  4 BHK            103
3     A      1            104  1733  NORTH     NO  3 BHK            104
4     A      1            105  1733  NORTH     NO  3 BHK            105

  APARTMENT_TYPE
0       Standard
1         Luxury
2         Luxury
3       Standard
4       Standard